button {
    height: 48px;
    width: 220px;
    color: $color-clear;
    background: rgb(255,121,218);
    background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 70%);
    border: none;
    border-radius: 200px;
    box-shadow: $shadow-black;
}