button {
    height: 48px;
    width: 220px;
    color: $color-clear;
    background: $secondary-color;
    background: linear-gradient(175deg, $secondary-color 0%, $main-color 70%);
    border: none;
    border-radius: 200px;
    box-shadow: $shadow-black;
    &.menu-btn--order{
        width: 185px;
        @media all and (min-width: $md) {
            width: 220px;
          }
    }
}