/*Color Base*/

$main-color: #9356DC;
$secondary-color:#FF79DA;
$third-color: #99E2D0;

$color-dark:#000000;
$color-grey:#EAEAEA;
$color-clear:#ffffff;
$colorT: transparent;

/*Box shadow*/

$shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
$shadow-dark: 0 5px 10px 1px darken($color-grey, 6%);
$shadow-black: 6px 8px 17px -9px $color-dark;

/*Border*/

$curler: 5px;
$arrondi: 10px;
$arrondi_md: 25px;
$round: 1em;

//devices
$xsm: 414px;
$sm: 768px;
$md: 1024px;
$lm: 1440px;
$xlm: 1920px;
$xxlm: 2500px;

// card width

$width-txt: 78%;
$width-price: 22%;