/*Color Base*/
/*Box shadow*/
/*Border*/
@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "roboto_re";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto_md";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto_bold";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto_ex_bold";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "shrikhand";
  font-display: swap;
  src: url("../../assets/fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto_re", Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > header, nav, section:not(main section), footer {
  padding: 0 20px;
}

main section:not(main > section > section) {
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "roboto_ex_bold";
}

.card-restaurant__txt h3 {
  font-family: "roboto_bold";
  color: #000000;
}
.card-restaurant__new {
  font-family: "roboto_md";
  color: #217460;
}

.card-menu__txt p {
  font-family: "roboto_re";
  font-size: 14px;
  color: #383838;
}
.card-menu__price {
  font-family: "roboto_bold";
  font-size: 15px;
  color: #2b2b2b;
}

.block-menu h3 {
  font-family: "roboto";
  font-size: 17px;
}

h4 {
  font-size: 17px;
}

a {
  color: #000000;
}

.fa-heart {
  font-size: 27px;
  color: #3f3d3d;
}

button {
  font-family: "Roboto_re";
  font-size: 16px;
}

li span {
  font-size: 14px;
  color: #ffffff;
}

.card-functionality p {
  font-family: "Roboto_md";
}

.location {
  font-family: "roboto_bold";
  color: #383838;
}

.menu-header {
  font-size: 18px;
}

header .logo {
  width: 165px;
}
header h2 {
  font-family: "Shrikhand";
}

footer .logo {
  width: 100px;
}

button {
  height: 48px;
  width: 220px;
  color: #ffffff;
  background: #FF79DA;
  background: linear-gradient(175deg, #FF79DA 0%, #9356DC 70%);
  border: none;
  border-radius: 200px;
  box-shadow: 6px 8px 17px -9px #000000;
}

.list-functionality .card-functionality {
  height: 73px;
  width: 100%;
  max-width: 323px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px 1px #dbdbdb;
}
.list-functionality .card-functionality span, .list-functionality .card-functionality i {
  position: relative;
}
.list-functionality .card-functionality span {
  height: 25px;
  width: 25px;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  background-color: #9356DC;
}
.list-functionality .card-functionality i {
  left: 10px;
  color: #515151;
  font-size: 20px;
}
.list-functionality .card-functionality--purple {
  background-color: #ece1f9;
}
.list-functionality .card-functionality--purple i {
  color: #9356DC;
}
.list-functionality p {
  padding-left: 30px;
}
.list-functionality li:nth-child(2) i {
  left: 8px;
  font-size: 18px;
}
.list-functionality li:nth-child(3) i {
  left: 8px;
  font-size: 16px;
}

.list-restaurants .card-restaurant {
  height: 253px;
  width: 100%;
  max-width: 335px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 1em;
  box-shadow: 0 5px 10px 1px #dbdbdb;
  position: relative;
}
.list-restaurants .card-restaurant__img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.list-restaurants .card-restaurant__new {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #99E2D0;
}
.list-restaurants .card-restaurant__txt {
  height: 78px;
  width: 80%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-restaurants .card-restaurant__txt h3 {
  padding-bottom: 4px;
}
.list-restaurants .card-restaurant__icon {
  height: 78px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-menu .card-menu {
  height: 70px;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px 1px #dbdbdb;
}
.list-menu .card-menu__txt {
  width: 78%;
  padding-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-menu .card-menu__txt h4 {
  padding-bottom: 3px;
}
.list-menu .card-menu__txt p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-menu .card-menu__price {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

body > header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
body > header.header-menu {
  box-shadow: none;
}
body > header.header-menu .fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 1.5em;
  top: 22px;
  display: flex;
  align-items: center;
  color: #383838;
}
body > header .link-logo {
  display: flex;
  align-items: center;
}

.location {
  height: 50px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.location p {
  padding-left: 18px;
}

.nav-header {
  height: 290px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
}
.nav-header h2 {
  padding: 0 7% 10px 7%;
}
.nav-header p {
  padding-bottom: 30px;
}

.functionality, .restaurants {
  padding-bottom: 70px;
}
.functionality h2, .restaurants h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}
.functionality .list-functionality li:not(:first-child), .restaurants .list-functionality li:not(:first-child) {
  padding-top: 20px;
}
.functionality .list-restaurants li:not(:first-child), .restaurants .list-restaurants li:not(:first-child) {
  padding-top: 20px;
}
@media all and (min-width: 768px) {
  .functionality .list-restaurants li:not(:first-child), .restaurants .list-restaurants li:not(:first-child) {
    padding-top: 0;
  }
}
@media all and (min-width: 768px) {
  .functionality .list-restaurants li:first-child, .functionality .list-restaurants li:nth-child(2), .restaurants .list-restaurants li:first-child, .restaurants .list-restaurants li:nth-child(2) {
    padding-bottom: 20px;
  }
}

@media all and (min-width: 768px) {
  .functionality {
    text-align: center;
  }
}
.functionality .list-functionality li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurants {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .list-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (min-width: 768px) {
  .restaurants .list-restaurants {
    max-width: 1070px;
    flex-flow: row wrap;
    align-items: flex-start;
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 1106px) {
  .restaurants .list-restaurants {
    justify-content: center;
  }
}
@media all and (min-width: 768px) {
  .restaurants .list-restaurants .card-restaurant {
    margin: 10px;
  }
}

main .banner {
  height: 225px;
  width: 100%;
  position: relative;
  z-index: 1;
  object-fit: cover;
}
main .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
  padding-top: 30px;
  position: relative;
  z-index: 2;
  background-color: #f4f4f4;
  border-radius: 2em 2em 0 0;
}
main .menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
main .menu-header .fa-heart {
  padding-right: 25px;
}
main .menu .block-menu {
  width: 100%;
}
main .menu .block-menu h3 {
  position: relative;
  padding-bottom: 8px;
}
main .menu .block-menu h3::after {
  content: "";
  width: 42px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}
main .menu .block-menu .list-menu li {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
main .menu .block-menu .list-menu li:last-child {
  padding-bottom: 15px;
}
main .menu-btn {
  margin-top: 29px;
  margin-bottom: 57px;
}

footer {
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #353535;
}
@media all and (min-width: 768px) {
  footer {
    justify-content: flex-start;
    padding-top: 40px;
  }
}
footer .logo {
  padding-bottom: 15px;
}
footer ul li {
  line-height: 25px;
}
footer ul li i {
  width: 22px;
  font-size: 13px;
}
footer ul li a {
  color: #ffffff;
}
footer ul :nth-child(2) i {
  font-size: 11px;
}
@media all and (min-width: 768px) {
  footer ul {
    width: 100%;
    max-width: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
