    .list-functionality {

        .card-functionality {
            height: 73px;
            width: 100%;
            max-width: 323px;
            margin-left: 12px;
            display: flex;
            align-items: center;
            border-radius: $arrondi_md;
            background-color: lighten($color-grey, 6%);
            box-shadow: $shadow-dark;
            span, i {
                position: relative;
            }
            span {
                height: 25px;
                width: 25px;
                left: -12px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $round;
                background-color: $main-color;
            }
            i {
                left: 10px;
                color: darken($color-grey, 60%);
                font-size: 20px;
            }
            &:hover {
                background-color: lighten($main-color, 33%);
                i {
                    color: $main-color;
                }
            }
        }
    
        p {
            padding-left: 30px;
        }
        li:nth-child(2) {
            i {
                left: 8px;
                font-size: 18px;
            }
        }
        li:nth-child(3) {
            i {
                left: 8px;
                font-size: 16px;
            }
        }
}

.list-restaurants {
    
    .card-restaurant {
        height: 253px;
        width: 100%;
        max-width: 335px;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        border-radius: $round;
        box-shadow: $shadow-dark;
        position: relative;
        &__img {
            height: 175px;
            width: 100%;
            object-fit: cover;
            border-radius: $round $round 0 0;
        }
        &__new {
            width: 80px;
            height: 30px;
            position: absolute;
            top: 12px;
            right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $curler;
            background-color: $third-color;
        }
        &__txt {
            height: 78px;
            width: 80%;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3 {
                padding-bottom: 4px;
            }
        }
        &__icon {
            height: 78px;
            width: 20%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.list-menu {

    .card-menu {
        height: 70px;
        width: 100%;
        max-width: 350px;
        display: flex;
        justify-content: space-between;
        border-radius: $arrondi;
        background-color: $color-clear;
        box-shadow: $shadow-dark;
        overflow: hidden;
        &__txt {
            max-width: $width-txt;
            width: 100%;
            padding-left: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition-duration: $moderate;
            h4, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
             h4 {
                padding-bottom: 3px;
            }
        }
        &__price {
            max-width: $width-price;
            width: 100%;
            display: flex;
            align-items: flex-end;
            transition-duration: $moderate;
            p {
                padding-bottom: 15px;
                margin-left: 25px;
            }
            .add-meal {
                height: 100%;
                min-width: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateX(45%);
                transition-duration: $moderate;
                background-color: $third-color;
                .fa-check-circle {
                    color: $color-clear;
                    transition-duration: $moderate;
                }
            }
        }
        &:hover {
            .card-menu__txt {
                max-width: $width-txt--add-meal;
                width: 100%;
            }

            .card-menu__price {
                max-width: $width-price--add-meal;
                width: 100%;
                .add-meal{
                    width:100%;
                    margin-left: 25px;
                    transform: translateX(-10.5%);
                    .fa-check-circle {
                        color: $color-clear;
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}