.location {
    height: 50px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey;
    p {
        padding-left: 18px;
    }
}
.nav-header {
    height: 290px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lighten($color-grey, 4%);
    h2 {
        padding: 0 7% 10px 7%;
    }
    p {
        padding-bottom: 30px;
    }
}

.functionality, .restaurants {
    padding-bottom: 70px;
    h2 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .list-functionality li:not(:first-child) {
        padding-top: 20px;
    }
    .list-restaurants li:not(:first-child){
        padding-top: 20px;
        @media all and (min-width: $sm) {
            padding-top: 0;
          }
    }
    .list-restaurants li:first-child, .list-restaurants li:nth-child(2){
        @media all and (min-width: $sm) {
            padding-bottom: 20px;
          }
    }
}

.functionality {
    @media all and (min-width: $sm) {
        text-align: center;
      }
      .list-functionality {
          li {
              width: 100%;
              display: flex;
              justify-content: center;
          }
      }
}

.restaurants {
    background-color: lighten($color-grey, 4%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .list-restaurants {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (min-width: $sm) {
            max-width: 1070px;
            flex-flow: row wrap;
            align-items: flex-start;
        }
        @media all and (min-device-width: $sm) and (max-device-width: 1106px) {
            justify-content: center;
        }
          .card-restaurant {
            @media all and (min-width: $sm) {
                margin: 10px;
              }
          }
    }
}