body > header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 2;
    box-shadow: $shadow;
    &.header-menu {
        box-shadow: none;
        .fa-arrow-left {
            font-size: 20px;
            position: absolute;
            left: 1.5em;
            top: 22px;
            display: flex;
            align-items: center;
            color: darken($color-grey, 70%);
        }
    }
}