body > header {
    height: 63px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid blue;
    &.header-menu {
        display: block;
    }
}

.logo {
    width: 130px;
}