@keyframes card-appear {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes loading-disappear {
    0% {
        transform: translateY(0%);  
    }
    100% {
        transform: translateY(-100%);  
    }
}

@keyframes loading-effect {
    0% {
        opacity: 0;
    }
    20% {
        color: $third-color;
    }
    30% {
        transform: scale(1.5);
    }
    40% {
        color: $secondary-color;
    }
    60% {
        color: $main-color;
        transform: scale(1);
    }
    90% {
        transform: scale(1.5);
    }
    100% {
        color: $color-dark;
        opacity: 1;
    }
}

@keyframes scroll-hidden {
    0% {
        overflow-y: hidden; 
    }
    99% {
        overflow-y: hidden; 
    }
    100% {
        overflow-y: scroll;
    }
}