*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  z-index: 1;
  margin: 0;
  font-family: "roboto_re", Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > header, nav, section, footer {
  padding: 0 20px;
}

main section {
  padding: 0 15px;
}

main > section > div > section {
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.loading {
  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  animation: loading-disappear 1s 2s;
  animation-fill-mode: forwards;
  p {
    opacity: 0;
    animation: loading-effect 3s;
    transform: scale(0.4);
    }
}

.home {
  animation: scroll-hidden 3s;
}
