*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // max-width: 1600px;
  margin: 0;
  font-family: "roboto_re", Georgia, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > header, nav, section:not(main section), footer {
  padding: 0 20px;
}

main section:not(main > section > section) {
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}