h2 {
    font-family: "roboto_ex_bold";
}

.card-restaurant {
    &__txt {
        h3 {
            font-family: "roboto_bold";
            color: $color-dark;
        }
    }
    &__new {
        font-family: "roboto_md";
        color: darken($third-color, 45%);
    }
}


.card-menu {
    &__txt {
        p {
            font-family: "roboto_re";
            font-size: 14px;
            color: darken($color-grey, 70%);
        }
    } 
    &__price {
        font-family: "roboto_bold";
        font-size: 15px;
        color: darken($color-grey, 75%);;
    }
}


.block-menu {
    h3 {
        font-family: "roboto";
        font-size: 17px;
    }
}

h4 {
    font-size: 17px;
}

a {
    color: $color-dark;
}

.fa-heart {
    font-size: 27px;
    color: rgb(63, 61, 61);
}

button{
    font-family: "Roboto_re";
    font-size: 16px;
}

li {
    span{
        font-size: 14px;
        color: $color-clear;
    }
}

.card-functionality p {
    font-family: "Roboto_md";
}

.location {
    font-family: 'roboto_bold';
    color: darken($color-grey, 70%);
}

.menu-header {
    font-size: 18px;
}

header {
    .logo {
    width: 165px;
}
    h2 {
        font-family: "Shrikhand";
    }
}

footer {
    .logo {
        width: 100px;
    }
}