@import "../utils/variables.scss";

@font-face {
  font-family: "roboto";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "roboto_bold";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "roboto_ex_bold";
  font-display: swap;
  src: url("../../assets/fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "shrikhand";
  font-display: swap;
  src: url("../../assets/fonts/shrikhand/Shrikhand-Regular.ttf")
    format("truetype");
}

// body {
//     font-size: 16px;
//     @media (max-width: $sm) {
//         font-size: 24px;
//     }
//     @media (max-width: $sm) and (orientation: landscape) {
//         font-size: 18px;
//     }
// }